<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<ce:menu.directory pageUids="{pageUids}" as="pages" levelAs="level">
	<f:if condition="{pages}">
	<ul class="list-unstyled b_is-btnList b_is-btnList-withGradient">
		<f:for each="{pages}" as="page">
			<li><f:link.page pageUid="{page.uid}" class="b_t4 b_btn">{page.title}</f:link.page></li>
		</f:for>
	</ul>
</f:if>
</ce:menu.directory>
</html>