<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="FullrowContentelement" />

<f:section name="contentelement">
<div id="bJS_imageVideoSlider" class="b_ct_sliderWithBackgroundItems b_ct_imageVideoSlider b_state-disableVideos bJS_playVideoInsideViewport">
	<div class="bJS_slider b_ct_backgroundSlider">
		<f:for each="{listitems}" as="item">
			<div class="b_slice b_is-backgroundSizeCover {f:if(condition:'{item.data.videoid}',then:'b_is-noPaddingTop')}"
				<f:for each="{item.listimage1}" as="file" iteration="itemIteration">
					<f:if condition="{itemIteration.isFirst}">
						style="background-image: url('{f:uri.image(src:'{file.uid}',treatIdAsReference:'1')}');"
					</f:if>
				</f:for>
			>
			<f:if condition="{item.data.videoid}">
				<iframe id="bJS_vimeoItem-{item.data.uid}" src="https://player.vimeo.com/video/{item.data.videoid}?api=1&autopause=0&player_id=bJS_vimeoItem-{item.data.uid}" frameborder="0" height="100%" width="100%"></iframe>
			</f:if>
				<div class="container">
					<div class="row">
						<div class="col-xs-24 hidden-xs">
							{f:if(condition:'{item.data.header}',then:'<div class="h1 text-uppercase">{item.data.header}</div>')}
							{f:if(condition:'{item.data.subheader}',then:'<div class="h1 text-uppercase">{item.data.subheader}</div>')}
							{f:if(condition:'{item.data.subheader2}',then:'<div class="h1 text-uppercase">{item.data.subheader2}</div>')}
						</div>
						<div class="col-xs-24 visible-xs">
							{f:if(condition:'{item.data.headeralt}',then:'<div class="h1 text-uppercase">{item.data.headeralt}</div>')}
							{f:if(condition:'{item.data.subheaderalt}',then:'<div class="h1 text-uppercase">{item.data.subheaderalt}</div>')}
							{f:if(condition:'{item.data.subheader2alt}',then:'<div class="h1 text-uppercase">{item.data.subheader2alt}</div>')}
						</div>
					</div>
					<div class="row b_ct_text">
						<div class="col-md-24 col-lg-16 hidden-xs">
							{f:if(condition:'{item.data.bodytext}',then:'<p class="b_t3 b_nohyphens">{item.data.bodytext}</p>')}
						</div>
						<div class="col-md-24 col-lg-16 visible-xs">
							{f:if(condition:'{item.data.bodytextalt}',then:'<p class="b_t3 b_nohyphens">{item.data.bodytextalt}</p>')}
						</div>
					</div>
					<div class="row b_ct_buttons">
						<div class="col-xs-24">
							<f:link.typolink parameter="{item.data.link}" class="btn btn-white">{item.data.linklabel}</f:link.typolink>
						</div>
					</div>
				</div>
			</div>
		</f:for>
	</div>
	<div class="b_ct_overlayContent b_ct_preview hidden-xs">
		<div class="container">
			<div class="bJS_previewSlider b_previewList">
				<f:for each="{listitems}" as="item">
					<div class="b_previewItem" {f:if(condition:'{item.data.videoid}',then:'data-customprogressbar="true"')}>
						<f:if condition="{item.listimage2}">
							<f:then>
								<f:for each="{item.listimage2}" as="file" iteration="itemIteration">
									<f:if condition="{itemIteration.isFirst}">
										<f:image src="{file.uid}" treatIdAsReference="1" class="img-responsive" width="160c" height="90c" />
									</f:if>
								</f:for>
							</f:then>
							<f:else>
								<f:for each="{item.listimage1}" as="file" iteration="itemIteration">
									<f:if condition="{itemIteration.isFirst}">
										<f:image src="{file.uid}" treatIdAsReference="1" class="img-responsive" width="160c" height="90c" />
									</f:if>
								</f:for>
							</f:else>
						</f:if>
						<div class="progress">
							<div class="bJS_progressbar progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
								<span class="sr-only">0% Complete</span>
							</div>
						</div>
					</div>
				</f:for>
			</div>
		</div>
	</div>
	<div class="b_ct_scrollDown text-center">
		<a href="#" class="bJS_scrollDown b_is-whiteLink">
			<i class="b_icon b_icon-DropdownOhneKreis_L"></i>
		</a>
	</div>
</div>
</f:section>

</html>