<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="FullrowContentelement" />

<f:section name="contentelement">
	<div class="bJS_propertyModule b_ct_propertyModule">
		<a href="#" class="bJS_closePropertyModule b_is-text-white b_close hidden-xs hidden-sm">
			<i class="b_icon b_icon-SchliessenOhneKreis_L"></i>
		</a>
		<div class="b_container">
			<div class="row">
				<div class="col-md-12 b_is-backgroundDarkBlue b_has-defaultModulePadding b_propertyModuleCol-1">
					<div class="b_containerForSM">
						<div class="row">
							<div class="col-md-24">
								<span class="b_is-text-WevoCyan bJS_togglePropertyModule text-center hidden-md hidden-lg" data-col="1">
									<p class="b_z1">3</p>
									<p class="b_t2">{data.subheader}</p>
								</span>
								<a href="#" class="b_is-whiteLink bJS_togglePropertyModule text-center hidden-xs hidden-sm" data-col="1">
									<p class="b_z1">3</p>
									<p class="b_t2">{data.subheader}</p>
								</a>
								<div class="hidden-md hidden-lg">
									<div class="b_ct-iconList b_iconListWithDescription b_t4">
										<f:render partial="propertyItems" section="propertyitem" arguments="{icon: 'b_icon-Pur_UL',
										link: '{data.wevo_link3}', text: '{data.wevo_additionaltext1}', linktext: '{data.wevo_linktext3}', color: 'cyan'}" />
										<f:render partial="propertyItems" section="propertyitem" arguments="{icon: 'b_icon-Ep_UL',
										link: '{data.wevo_link4}', text: '{data.wevo_additionaltext2}', linktext: '{data.wevo_linktext4}', color: 'orange'}" />
										<f:render partial="propertyItems" section="propertyitem" arguments="{icon: 'b_icon-Si_UL',
										link: '{data.wevo_link5}', text: '{data.wevo_additionaltext3}', linktext: '{data.wevo_linktext5}', color: 'yellow' }" />
									</div>
									<hr />
									<f:link.typolink parameter="{data.tx_b13ce_link}" class="btn btn-white">{data.tx_b13ce_linktext}</f:link.typolink>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-12 b_has-defaultModulePadding hidden-xs hidden-sm b_additionalInfos b_propertyModuleColAdditionalInfos-1">

					<div class="b_ct-iconList b_iconListWithDescription b_t4">
						<f:render partial="propertyItems" section="propertyitem-md" arguments="{icon: 'b_icon-Pur_UL',
										link: '{data.wevo_link3}', text: '{data.wevo_additionaltext1}', linktext: '{data.wevo_linktext3}', color: 'cyan' }" />
						<f:render partial="propertyItems" section="propertyitem-md" arguments="{icon: 'b_icon-Ep_UL',
										link: '{data.wevo_link4}', text: '{data.wevo_additionaltext2}', linktext: '{data.wevo_linktext4}', color: 'orange' }" />
						<f:render partial="propertyItems" section="propertyitem-md" arguments="{icon: 'b_icon-Si_UL',
										link: '{data.wevo_link5}', text: '{data.wevo_additionaltext3}', linktext: '{data.wevo_linktext5}', color: 'yellow' }" />
					</div>
					<hr />
					<f:link.typolink parameter="{data.tx_b13ce_link}" class="btn btn-white">{data.tx_b13ce_linktext}</f:link.typolink>

				</div>


				<div class="col-md-12 b_has-defaultModulePadding hidden-xs hidden-sm b_additionalInfos b_propertyModuleColAdditionalInfos-2">

					<div class="row b_ct-iconList text-center b_t4">
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '1',	link: '{data.wevo_link6}', text: '{data.wevo_linktext6}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '2',	link: '{data.wevo_link7}', text: '{data.wevo_linktext7}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '3',	link: '{data.wevo_link8}', text: '{data.wevo_linktext8}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '4',	link: '{data.wevo_link9}', text: '{data.wevo_linktext9}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '5',	link: '{data.wevo_link10}', text: '{data.wevo_linktext10}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '11',	link: '{data.wevo_link11}', text: '{data.wevo_linktext11}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '6',	link: '{data.wevo_link12}', text: '{data.wevo_linktext12}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '10',	link: '{data.wevo_link13}', text: '{data.wevo_linktext13}'}" />
						<f:render partial="propertyItems" section="propertyitem-icons" arguments="{icon: '12',	link: '{data.wevo_link14}', text: '{data.wevo_linktext14}'}" />
					</div>

					<hr />

					<f:link.typolink parameter="{data.tx_b13ce_link2}" class="btn btn-white">{data.tx_b13ce_linktext2}</f:link.typolink>
				</div>

				<div class="col-md-12 b_has-defaultModulePadding b_is-backgroundCyan b_propertyModuleCol-2">

					<div class="b_containerForSM">
						<div class="row">
							<div class="col-md-24">

										<span class="b_is-text-darkBlue bJS_togglePropertyModule hidden-md hidden-lg" data-col="2">
											<p class="b_z1 text-center">9</p>
											<p class="b_t2 text-center">{data.header}</p>
										</span>

								<a href="#" class="b_is-whiteLink bJS_togglePropertyModule hidden-xs hidden-sm" data-col="2">
									<p class="b_z1 text-center">9</p>
									<p class="b_t2 text-center">{data.header}</p>
								</a>

								<div class="hidden-md hidden-lg">
									<div class="row b_ct-iconList text-center b_t4">
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '1',	link: '{data.wevo_link6}', text: '{data.wevo_linktext6}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '2',	link: '{data.wevo_link7}', text: '{data.wevo_linktext7}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '3',	link: '{data.wevo_link8}', text: '{data.wevo_linktext8}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '4',	link: '{data.wevo_link9}', text: '{data.wevo_linktext9}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '5',	link: '{data.wevo_link10}', text: '{data.wevo_linktext10}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '11',	link: '{data.wevo_link11}', text: '{data.wevo_linktext11}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '6',	link: '{data.wevo_link12}', text: '{data.wevo_linktext12}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '10',	link: '{data.wevo_link13}', text: '{data.wevo_linktext13}'}" />
										<f:render partial="propertyItems" section="propertyitem-icons-xs" arguments="{icon: '12',	link: '{data.wevo_link14}', text: '{data.wevo_linktext14}'}" />
									</div>

									<hr />

									<f:link.typolink parameter="{data.tx_b13ce_link2}" class="btn btn-white">{data.tx_b13ce_linktext2}</f:link.typolink>
								</div>

							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</f:section>
</html>