
<f:section name="icon1">
<i class="b_icon b_icon-Waermeleitfaehigkeit_L"></i>
</f:section>

<f:section name="icon2">
<i class="b_icon b_icon-Brandverhalten_L"></i>
</f:section>

<f:section name="icon3">
<i class="b_icon b_icon-RheologischeEigenschaften_L"></i>
</f:section>

<f:section name="icon4">
<i class="b_icon b_icon-Topfzeit_L"></i>
</f:section>

<f:section name="icon5">
<i class="b_icon b_icon-MechanischeEigenschaften_L"></i>
</f:section>

<f:section name="icon6">
<i class="b_icon b_icon-Temperatureinsatzbereich_L"></i>
</f:section>

<f:section name="icon12">
<i class="b_icon b_icon-Alterungsbestaendigkeit_L"></i>
</f:section>

<f:section name="icon11">
<i class="b_icon b_icon-ElektrischeEigenschaften_L"></i>
</f:section>

<f:section name="icon10">
<i class="b_icon b_icon-Medienbestaendigkeit_L"></i>
</f:section>
