<div class="bJS_videoAccordion-item
	<f:switch expression="{color}">
		<f:case value="1">b_is-backgroundGray6</f:case>
		<f:case value="2">b_is-backgroundYellow</f:case>
		<f:case value="3">b_is-backgroundDarkBlue</f:case>
		<f:case default="1">b_is-backgroundGray5</f:case>
	</f:switch>
	b_video-accordion-item b_active">


	<div class="b_video-accordion-item-contentWrap">
		<div class="bJS_videoAccordion-item-content text-center b_video-accordion-item-content">
			<div class="container">
				<div class="row">
					<div class="col-xs-24">
						<h2><f:link.typolink parameter="{link}" class="b_is-unstyledLink">{header}</f:link.typolink></h2>
						<f:link.typolink parameter="{link}" class="btn btn-white hidden-xs">{linklabel}</f:link.typolink>
					</div>
				</div>
			</div>
			<div class="b_video-accordion-item-image"
				<f:for each="{images}" as="file" iteration="itemIteration">
					<f:if condition="{itemIteration.isFirst}">
						style="background-image: url('{f:uri.image(src:'{file.uid}',treatIdAsReference:'1')}');"
					</f:if>
				</f:for>
			></div>
		</div>
	</div>
	<div class="bJS_videoAccordion-item-header container b_t2 b_video-accordion-item-header">
		<div class="row">
			<div class="bJS_videoAccordion-item-header col-xs-24 b_t2 b_video-accordion-item-header">
				<f:switch expression="{icon}">
					<f:case value="1"><i class="b_icon b_icon-Kundenspezifisch_UL"></i></f:case>
					<f:case value="2"><i class="b_icon b_icon-Innovation_UL"></i></f:case>
					<f:case value="3"><i class="b_icon b_icon-Wissenstransfer_UL"></i></f:case>
					<f:case value="4"><i class="b_icon b_icon-Qualifizierung_UL"></i></f:case>
					<f:case default="1"><i class="b_icon b_icon-Kundenspezifisch_UL"></i></f:case>
				</f:switch>
				{title}
			</div>
		</div>
	</div>
</div>